.son1{
    flex-basis: 70%;}
ul{flex-basis: 20%;}
.pl-5{
    padding-left: 15rem !important;}
.bg-color{background:#F5F5F5;}
div>.border{height:0.3rem;
 border-color: #000;
}
.ml-3{margin-left:-4rem !important;}



