.bg-black{background-color:#000; }
.carousek-inner>img{width:100%;height:80%;}
.ml-6{margin-left:14rem;}
.ml-7{margin-left:20rem;}
.ml-9{margin-left:8rem;}
.carousel-indicators>li{
     width:1rem;
     height:1rem;
    border-radius: 50%;
}

 li>.active{background-color:#FF5757;color:white;}
.nav-link:hover{background-color:#FF5757;color:white;}
.carousel-indicators .active{
background-color:#000;
}
.bg-red{background-color:rgb(221, 81, 81);
  height:33px;
  text-align:center;
}
.bg-red>a,.nav-link{color:white;}
/* .ml-7{margin-left:-6rem !important;} */
.font_small{font-size:9px;}
span{color:#ff4500;}
p{color:#ff4500;}
.d-fiex{
  display: flex;
  /* height:300px; */
}
/* .w-10{
  width:400px !important;
  height: 500px ;
} */
a{color:#666;}
.img0{width: 210px;height: 210px;}
.img1{
  width:110px;
  height:110px;
}
.img1:hover{
  transform:scale(1.1);
  transition: all .35s ease;

}
.img000:hover{
  transform:scale(1.1);
  transition: all .35s ease;

}
.img00:hover{transform: scale(1.1);}
.bor{
  border:1px dashed #E1D8D2;
}
.a1{font-size: 20px;}
.mt-a{margin-top:-8px;}
.bg-gray{background:#DBCECE;

height: 150px;}
.img7{width: 240px;height:370px ;}
.ml-15{margin-left:-9px;}
.img8{width: 228px;height: 228px;}
.img9{width: 710px; height: 295px;}
.img10{width: 228px;height: 228px;}
.ml-8{margin-left:20rem; }
.col-2{max-width: 13.5%;}
 .ml-11{margin-left:2rem; } 
 .ml-12{margin-left:21rem; } 
 .font-size.ml-0{color: #000;
font-size:24px;}
.mm{font-size:20px;color: #000;}
.red{color:red;}
.mt-6{margin-top: 6rem;color:#000;}
.bg-blue{background:#004899;}
.p1{color:#E1D8D2;
font-size: 2rem;}
.ml-13{margin-left:21rem; }
.d1{width: 217px;height: 355px;}
.pp{color:#000;}
.bg-g{background:#C6C4C4;}
.text-0{
  justify-content: space-between;}
/* .ml-15{margin-left:-27rem; } */
.ml-14{margin-left:5rem; }
.text-color{color:#000;}
.h4{color:white;}
.div2{height: 230px;}
.p2{color: white;}
.h{color:white;
font-size:20px; }
.hj{color: white;}